.favorite-checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.favorite-checkbox-container .modal-label {
    margin-right: 10px; /* Adjust the spacing between the label and checkbox */
    font-weight: bold;
}