/* CreateTaskModal.css */

.create-task-modal-div {
    padding: 20px;
    width: 100%;
    max-width: 350px;
    background-color: white;
    /* border-radius: 12px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.modal-heading {
    margin-bottom: 0px; /* Reduce margin to save space */
    font-size: 24px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Reduce gap between form elements */
    margin: 0 auto;
    /* z-index: 1000; */
}

.modal-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    margin-bottom: 8px; /* Reduce margin to save space */
}

.task-modal-input,
.task-modal-textarea,
.task-modal-select {
    width: 100%; /* Ensure the inputs take full width of the parent */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.error-message {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: -8px; /* Reduce negative margin */
    margin-bottom: 8px; /* Reduce margin to save space */
}

.modal-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #d1c4e9; /* Light purple color */
    transition: background-color 0.2s ease-in-out;
    width: 100%;
}

.create-button {
    background-color: #d1c4e9;
}

.create-button:hover {
    background-color: #b39ddb;
}

.cancel-button {
    background-color: #e1bee7;
    margin-top: 8px; /* Reduce margin to save space */
}

.cancel-button:hover {
    background-color: #d1c4e9;
}